# Configuración del Comercio (Pago Móvil Destinatario)
TELEFONO_DESTINO=
CEDULA_DESTINO=
BANCO_DESTINO=

# API de Conciliación BDV
BDV_API_KEY=

# WhatsApp del Comercio
WHATSAPP_NUMBER=
PAGO_MOVIL_TELEFONO_FORM=
